/*
------------------
Contact page
------------------
*/
.contact-form-sec-wrp{
	position: relative;
}
.contact-form-sec{
	position: relative;
	z-index: 3;
}

.contat-frm-wrp {
    padding-right: 30px;
    padding-top: 80px;
    width: 43.7%;
}
.contat-frm-lft{
	width: 45%;
	float: left;
}
.contact-map {
    width: 55%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.contact-map iframe{
	height: 100%;
}
.contact-title {
    padding-left: 60px;
    margin-bottom: 30px;
}
.contact-title i{
	margin-top: -2px;
}
.contact-info-title i{
	margin-top: -2px;
}
.contat-frm-dsc p {
    line-height: 2.2;
    margin-bottom: 23px;
}
.input-field-col {
    padding-bottom: 25px;
}
.input-field-col span{
	display: block;
	width: 100%;
}
.contact-submit-btn .ajax-loader{
	position: absolute;
	top: 100%;
}
.input-field-col input[type="text"],
.input-field-col input[type="email"],
.input-field-col textarea{
	border: 1px solid #aaaaaa;
	width: 100%;
	height: 60px;
	color: #7F7F7F;
	font-weight: 300;	
	font-size: 20px;
	line-height: 1;
	background-color: #f9f9f9;
	padding:10px 15px;
}
.input-field-col textarea{
	height: 200px;
	padding-top: 20px;
	display: block;
	resize: none;
}
.fl-contct-btn{
	width: 100%;
	height: 60px;
	font-family: 'GoboldExtra2';
	cursor: pointer;
	letter-spacing: 2px;
	text-shadow: 1.27px 1px 1.27px rgba(212,0,53,0.65);
}
.fl-red-btn.fl-contct-btn:hover{
	background: #c10913;
	color: #fff;
	border-color: #c10913;
}
.input-field-col input[type="text"]:focus,
.input-field-col input[type="email"]:focus,
.input-field-col textarea:focus{
	border-color: #000;
}
.input-field-col input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7F7F7F;
  opacity: 1;
}
.input-field-col input::-moz-placeholder { /* Firefox 19+ */
  color: #7F7F7F;
  opacity: 1;
}
.input-field-col input:-ms-input-placeholder { /* IE 10+ */
  color: #7F7F7F;
  opacity: 1;
}
.input-field-col input:-moz-placeholder { /* Firefox 18- */
  color: #7F7F7F;
  opacity: 1;
}

.input-field-col textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7F7F7F;
  opacity: 1;
}
.input-field-col textarea::-moz-placeholder { /* Firefox 19+ */
  color: #7F7F7F;
  opacity: 1;
}
.input-field-col textarea:-ms-input-placeholder { /* IE 10+ */
  color: #7F7F7F;
  opacity: 1;
}
.input-field-col textarea:-moz-placeholder { /* Firefox 18- */
  color: #7F7F7F;
  opacity: 1;
}

/*
------------------
contact-info-sec-wrp
------------------
*/
.contact-info-sec-wrp{
	position: relative;
	padding: 120px 0;
	overflow: hidden;
	border-bottom: 1px solid#707070;
}
.contact-info-bg{
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: -1px;
	background-position: right bottom!important;
	background-size: 1400px auto!important;
	background-repeat: no-repeat!important;
}
.contact-info-title{
	margin-bottom: 75px;
	padding-left: 60px;
}
.contact-info-box{
    border: 2px dashed #F2101C;
    padding: 20px 25px 35px;
    background:#fff;
}
.contact-info-wrp ul li{
	float: left;
	width: 33.3333%;
	padding: 0 25px;
}
.contact-info-wrp ul li:last-child{
	padding-right: 0;
}
.contact-info-box-title{
	color:#514C4E;
	text-transform: capitalize !important;
	font-family: 'GoboldLowplus';
	position: relative;
	padding-left: 70px;
	margin-left: -52px;
	margin-bottom: 30px;
}
.contact-info-wrp ul li:nth-child(1) .contact-info-box-title{
	margin-bottom: 35px;
}
.contact-info-box-title i {
    position: absolute;
    left: 0;
    top: -35px;
    width: 60px;
    height: 60px;
    background: #F2101C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info-box span{
	display: block;
	font-size: 20px;
	line-height: 1;
	color: #514C4E;
	font-weight: 400;
	padding-bottom: 10px;
}
.contact-info-box a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 20px;
	line-height: 2;
	color: #514C4E;
	font-weight: 300;
}
.contact-info-box a:hover{
	color: #f2101c;
}

/*
-------------------
we-accept-sec-wrp
-------------------
*/
.we-accept-sec-wrp{
	background:#fff;
	padding: 30px 0;
}
.we-accept-wrp{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.we-accept-lft{
	width: 47%;
	float: left;
}
.we-accept-rgt{
	width: 53%;
	float: right;
}
.we-accept-title{
	margin-bottom: 0;
	padding-left: 30px;
}
.we-accept-title i{
	margin-top: -1px;
}
.we-accept-rgt ul{
	float: right;
}
.we-accept-rgt ul li{
	float: left;
	padding: 0 5px;
}
.we-accept-rgt ul li:last-child{
	padding-right: 0;
}


/*
----------------
 Responsive Css
----------------
*/

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){
	.we-accept-rgt ul li {
	    padding: 0 4px;
	}
	.contact-info-box a{
		font-size: 19px;
	}
}

@media(max-width: 1199px){
	.contat-frm-wrp {
	    padding-left: 0;
	}
	.contact-title {
	    margin-bottom: 20px;
	    padding-left: 50px;
	}
	.contact-info-sec-wrp {
	    padding: 100px 0 120px;
	}

	.contact-info-box {
	    padding: 20px 20px 30px;
	}
	.contact-info-box span,
	.contact-info-box a {
	    font-size: 19px;
	}
	.we-accept-lft {
	    width: 100%;
	}
	.we-accept-title {
		display: table;
		margin: 0 auto;
	    margin-bottom: 45px;
	}
	.we-accept-rgt {
	    width: 100%;
	    float: none;
	    text-align: center;
	}
	.we-accept-rgt ul {
	    float: none;
	    display: table;
	    margin: 0 auto;
	}
	.we-accept-sec-wrp {
	    padding: 50px 0;
	}
	.contat-frm-dsc p {
	    line-height: 1.8;
	}
	.contact-info-bg{
		background-size: 1200px auto!important;
	}
	.we-accept-rgt ul li{
		padding-left: 8px;
		padding-right: 8px;
	}

}

@media(max-width: 991px){
	.breadcumbs ul li{
		font-size: 15px;
	}
	.breadcumbs ul li:after{
		top: 2px;
	}
	.contat-frm-wrp {
	    padding-top: 65px;
	}
	.contact-info-sec-wrp {
	    padding: 80px 0 100px;
	}
	.contact-info-box span,
	.contact-info-box a {
	    font-size: 18px;
	}
	.contact-info-wrp ul{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.contact-info-wrp ul li {
	    width: 50%;
	    padding: 0 25px 30px;
	}
	.contact-title.fl-h2{
		font-size: 33px;
	}
	.contact-title {
	    padding-left: 45px;
	}
	.contact-info-title {
	    margin-bottom: 65px;
	    padding-left: 50px;
	}
	.contat-frm-wrp{
		padding-right: 20px;
	}
	.input-field-col input[type="text"], .input-field-col input[type="email"],
	.fl-contct-btn.fl-contct-btn{
		height: 55px;
	}
	.contact-info-bg{
		background-size: 1440px auto!important;
	}
}

@media(max-width: 767px){
	.breadcumbs ul li {
	    font-size: 12px;
	}
	.breadcumbs ul li:after{
		top: 0;
	}
	.page-banner-sec-wrp {
	    padding: 24px 0 20px;
	}
	.contact-map {
	    width: 100%!important;
	    position: static!important;
	}
	.contat-frm-cntlr{
		width: 100% !important;
	}
	.contact-form-sec {
	    min-height: auto;
	}
	.contact-map iframe{
		height: 390px;
	}
	.contat-frm-wrp {
	    padding-top: 40px;
	    max-width: 550px;
	    width: 100%;
	    background: #fff;
	    padding-left: 20px;
	    padding-right: 20px;
	    padding-bottom: 25px;
	    border:1px solid#CCCCCC;
	    margin-top: -115px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.input-field-col input[type="text"],
	.input-field-col input[type="email"],
	.input-field-col textarea {
	    height: 40px;
	    font-size: 14px;
	    padding: 10px 15px;
	}
	.fl-contct-btn.fl-contct-btn {
	    height: 44px;
	}
	.input-field-col textarea{
		height: 120px;
		padding-top: 15px;
	}
	.input-field-col {
	    padding-bottom: 15px;
	}
	.fl-contct-btn{
		height: 44px;
		font-size: 16px;
	}
	
	.contact-form-sec-wrp{
		background:#f9f9f9;
		padding-bottom: 50px;
	}
	.contact-info-sec-wrp {
	    padding: 70px 0 100px;
	}
	.contact-info-box span,
	.contact-info-box a {
	    font-size: 16px;
	}
	.contact-info-box {
	    padding: 20px 10px 30px 20px;
	}
	.contact-info-wrp ul li:nth-child(1) .contact-info-box-title {
	    margin-bottom: 30px;
	}
	.contact-info-box-title{
		margin-bottom: 25px;
	}
	.we-accept-rgt ul {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-wrap: wrap;
	    max-width: 100%;
	    width: 100%;
	}
	.we-accept-rgt ul li {
	    padding-bottom: 25px;
	}
	.we-accept-sec-wrp {
	    padding: 50px 0 25px;
	}
	.contat-frm-dsc p {
	    line-height: 1.4;
	    margin-bottom: 20px;
	}
	.contact-title {
	    margin-bottom: 15px;
	}
	.contact-info-title {
	    margin-bottom: 55px;
	    padding-left: 45px;
	}
	.we-accept-title {
	    line-height: 1.3;
	}
	.contact-info-box a br{
		display: none;
	}
	.contact-info-box-title i{
		width: 57px;
		height: 57px;
	}
	.contact-info-box-title.fl-h3{
		font-size: 24px;
	}
	.contact-info-bg{
		background-size: 1050px auto!important;
	}
	.we-accept-title.left-icon-title.fl-h4{
		text-align: center;
		padding-left: 0;
		line-height: 1.5;
	}
	.we-accept-title i{
		position: relative;
		top: -1px;
		transform: initial;
	}
	.breadcumbs{
		margin-left: 0;
		margin-top: 10px;
		width: 100%;
	}
	.breadcumbs ul li:first-child{
		padding-left: 0;
	}
}

@media(max-width: 575px){	
	.contact-info-wrp ul li {
	    width: 100%;
	    padding: 0 0 30px;
	}
	.contact-info-box {
	    padding: 27px 20px 30px 60px;
	}
	.contact-info-box-title{
		padding-left: 60px;
		margin-left: -62px;
	}
	.contact-info-box-title i {
	    width: 50px;
	    height: 50px;
	    top: -29px;
	}
	.contact-info-title {
	    margin-bottom: 50px;
	}
	.contact-title.fl-h2 {
	    font-size: 28px;
	}
	.contact-title {
	    padding-left: 40px;
	}
	.contact-info-title {
	    margin-bottom: 50px;
	    padding-left: 40px;
	}
	.contact-map iframe {
	    height: 340px;
	}
	.contact-info-box-title.fl-h3 {
	    font-size: 24px;
	}
	.contact-info-bg{
		background-size: 950px auto!important;
	}
	.contact-info-box a br{
		display: block;
	}
	.we-accept-title.left-icon-title.fl-h4{
		font-size: 22px;
	}

}

@media(max-width: 479px){
	.contact-title.fl-h2 {
	    font-size: 26px;
	    padding-left: 35px;
	}
	.contact-info-box a br{
		display: none;
	}
}

@media(max-width: 359px){

}