.header-wrap{

}
.top-bar{
	background: #d61324;
	padding: 13px 0;
	border-bottom: 2px dashed #fff;
}
.top-bar-cntlr{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.top-bar-left{

}
.top-bar-left p{
	margin-bottom: 0;
	line-height: 1;
	font-size: 18px;
	color: #fff;
}
.top-bar-rt{
	margin-left: auto;
	padding-left: 15px;
}
.top-bar-rt ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.top-bar-rt ul li{
	padding-left: 9px;
	padding-right: 9px;
}
.top-bar-rt ul li:first-child{
	padding-left: 0;
}
.top-bar-rt ul li:last-child{
	padding-right: 0;
}
.top-bar-rt ul li a{
	padding-left: 26px;
	display: inline-block;
	position: relative;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	margin-bottom: 0;
}
.top-bar-rt ul li a:hover{
	opacity: 0.7;
}
.top-bar-rt ul li.hdr-tel a{
	padding-left: 24px;
}
.top-bar-rt ul li a i{
	position: absolute;
	bottom: 0;
	left: 0;
}


.header{
	
	background: #fff;
}
.header-inr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}
.hdr-lft{
	position: absolute;
	left: 0;
	top: 0;
}
.logo{

}
.logo a{
	display: inline-block;
}
.hdr-right{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: auto;
}
.hdr-menu{
	padding-right: 50px;
}

nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -14px;
	padding-top: 38px;
}
nav.main-nav > ul > li{
	padding-left: 14px;
	padding-right: 14px;
	line-height: 1;
	position: relative;
}
nav.main-nav > ul > li > a{
	display: inline-block;
    font-family: 'GoboldLowplus';
	line-height: 1;
	font-size: 18px;
	color: #141414;
	position: relative;
	padding-bottom: 38px;
}
nav.main-nav > ul > li.current-menu-item > a{
	padding-left: 10px;
}
nav.main-nav > ul > li.current-menu-item > a:before{
	position: absolute;
	content: "\f3c5";
	font-weight: 700;
	font-size: 20px;
	left: -14px;
	top: -3px;
	font-family: 'Font Awesome 5 Free';
	/*background-image: url(../images/location-icon.svg);*/
}
nav.main-nav > ul > li > a:hover,
nav.main-nav > ul > li.current-menu-item > a,
nav.main-nav > ul > li.menu-item-has-children:hover > a{
	color: #F2101C;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 10;
    width: 225px;
    padding: 0 6px 0 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
	padding: 6px 0;
	line-height: 1;
    display: block;
    position: relative;
    border-bottom: 1px solid #F2101C;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
    border-bottom: none;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
	display: block;
    padding: 5px 14px;
    position: relative;
    font-family: 'GoboldLowplus';
	line-height: 1;
	font-size: 15px;
	color: #141414;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #F2101C;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after{
    height: 100%;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a{
	color: #F2101C;
}


.hdr-order-icon{
	position: absolute;
	width: 27px;
	height: 63.44px;
	top: -3px;
	right: 0;
}
.hdr-order-icon a{
	display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 23px;
}
.hdr-order-icon span{
	display: inline-block;
	line-height: 1;
	color: #F2101C;
	margin-top: -1px;
	letter-spacing: -1px;
	font-size: 16px;
	margin-bottom: 0;
}
.hdr-order-icon i{
	display: inline-block;
}