
.home-page-bnr-con-inr{
	display: flex;
}
.home-page-bnr{
	position: relative;
}
.home-page-bnr iframe{
	height: 655px;
}

.home-page-bnr-con-cntlr{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
}
.loc-searching-form-cntlr {
    margin: 25px 0px 0 0;
    max-width: 375px;
    width: 100%;
    position: relative;
}
.home-page-bnr-con-cntlr .container,
.home-page-bnr-con-cntlr .row,
.home-page-bnr-con-cntlr .col-md-12{
	height: 100%;
}
.loc-searching-form-cntlr form{
	border: 1px solid #CCCCCC;
	height: 80px;
	margin-right: 75px;
}
.loc-searching-form-cntlr .input-field-row{
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	height: 50%;
}

.loc-searching-form-cntlr .input-field-row span{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
	color: #fff;
	font-family: 'GoboldExtra2';
	font-size: 22px;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loc-searching-form-cntlr .input-field-row.starting-field span{
	background: #E53930;
	left: 0;
	top: 0;
}
.loc-searching-form-cntlr .input-field-row.ending-field span{
	background: #4089FF;
	left: 0;
	bottom: 0;																																																																																																																																																																																																																																							````````````: 0;
}

.loc-searching-form-cntlr .input-field-row input{
	width: 100%;
	padding: 5px 20px 5px 53px;
	height: 100%;
	color: #7F7F7F;
	font-size: 14px;
	line-height: 1;
	font-weight: 300;
}

.loc-searching-form-cntlr .input-field-row input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7F7F7F;
  opacity: 1;
}
.loc-searching-form-cntlr .input-field-row input::-moz-placeholder { /* Firefox 19+ */
  color: #7F7F7F;
  opacity: 1;
}
.loc-searching-form-cntlr .input-field-row input:-ms-input-placeholder { /* IE 10+ */
  color: #7F7F7F;
  opacity: 1;
}
.loc-searching-form-cntlr .input-field-row input:-moz-placeholder { /* Firefox 18- */
  color: #7F7F7F;
  opacity: 1;
}


.loc-searching-form-cntlr .input-field-row.starting-field{
	border-bottom: 1px solid #CCCCCC;
}

.loc-distance-miles{
	position: absolute;
	width: 60px;
	height: 60px;
	color: #fff;
	background: #514C4E;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.loc-distance-miles:before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/left-angle.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 10px;
	height: 20px;
	right: 100%;destination-switcher-button
}
.loc-distance-miles div *{
	display: block;
	text-transform: uppercase;
	text-align: center;
	font-family: 'GoboldLowplus';
}
.loc-distance-miles div strong{
	font-weight: normal;
	font-size: 17px;
	line-height: 1;
	margin-bottom: 4px;
}
.loc-distance-miles div span{
	font-size: 14px;
	line-height: 1;
}
.destination-switcher-button {
    position: absolute;
    width: 20px;
    height: 19px;
    text-align: right;
    left: 41px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding-right: 1px;
    margin-top: -1px;
}


.bnr-booking-form-cntlr{
	background: #FFFFFF;
	-webkit-box-shadow: 0px 3px 16px 0px rgba(156,155,155,1);
	-moz-box-shadow: 0px 3px 16px 0px rgba(156,155,155,1);
	box-shadow: 0px 3px 16px 0px rgba(156,155,155,1);
	max-width: 360px;
	width: 100%;
	margin-left: auto;
	margin-top: 75px;
}

/*.fl-tab-content{
	display: none;
}
.fl-tab-content.current{
	display: block;
}*/
.vehicle-form{
	padding: 29px 30px;
}

.vehicle-form input[type="text"]{
	color: #7F7F7F;
	font-weight: 300;
	font-size: 16px;
	line-height: 1px;
	padding: 5px 12px;
	border: 1px solid #aaaaaa;
	height: 46px;
	background: #f9f9f9;
	width: 100%;
}
.vehicle-form input[type="text"]:focus{
	border-color: #585757;
}
.vehicle-form .input-field-row{
	padding-bottom: 17px;
}
.vehicle-form input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #7F7F7F;
	opacity: 1;
}
.vehicle-form input[type="text"]::-moz-placeholder { /* Firefox 19+ */
	color: #7F7F7F;
	opacity: 1;
}
.vehicle-form input[type="text"]:-ms-input-placeholder { /* IE 10+ */
	color: #7F7F7F;
	opacity: 1;
}
.vehicle-form input[type="text"]:-moz-placeholder { /* Firefox 18- */
	color: #7F7F7F;
	opacity: 1;
}


.vehicle-form input[type="submit"]{
	width: 100%;
	height: 50px;
	font-size: 20px;
	background: #F2101C;
	line-height: 1;
	color: #fff;
	letter-spacing: 1px;
	text-shadow: 0 1px 0 #c90f1d;
	text-transform: uppercase;
    font-family: 'GoboldExtra2';
    padding-top: 2px;
    cursor: pointer;
/*    border: 2px solid #F2101C;*/
}
.vehicle-form input[type="submit"]:hover{
	background: #c10913;
}
.input-field-row-submit{
	margin-bottom: 0;
}
.bnr-booking-form-tabs-col-cntlr{
	display: flex;
}
.bnr-booking-form-tabs-col-cntlr .tab-link{
	width: 50%; 
}
.bnr-booking-form-tabs-col-cntlr .tab-link.vr-title{
	border-right: 1px solid #fff;
} 
.bnr-booking-form-tabs-col-cntlr .tab-link.vt-title{
	border-left: 1px solid #fff;
} 
.bnr-booking-form-tabs .tab-link{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border: none;
	color: #fff;
	font-weight: normal;
	font-family: 'GoboldLowplus';
	font-size: 18px;
	line-height: 1;
	position: relative;
	
}
.bnr-booking-form-tabs button.tab-link{
	cursor: pointer;
}

.bnr-booking-form-tabs .tab-link i{
	position: absolute;
	width: 21px;
	height: 21px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bnr-booking-form-tabs .tab-link:after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
	border-top: 16px solid #D61225;
	opacity: 0;
	margin-top: -1px;
}
.bnr-booking-form-tabs .tab-link.vt-title:after{
	border-top: 16px solid #0074D3;
}
.bnr-booking-form-tabs .tab-link.current:after{
	opacity: 1;
}
.vr-title{
	background: #D61225;
}
.vt-title{
	background: #0074D3;
}
.vr-title i{
	background: #D40035;
}
.vt-title i{
	background: #4089FF;
}

.bnr-booking-form-tabs .vr-title.current{
	position: relative;
}




@media(max-width: 1499px){

}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){


}

@media(max-width: 991px){
	.bnr-booking-form-cntlr{
		max-width: 350px;
	}
	.bnr-booking-form-tabs .tab-link{
		font-size: 17px;
	}
	.loc-searching-form-cntlr {
	    max-width: 360px;
	}
}

@media(max-width: 767px){
/*	.home-page-bnr-con-cntlr{
		position: static;
	}
	.loc-searching-form-cntlr{
		position: absolute;
		left: 20px;
		top: 20px;
	}*/
}

@media(max-width: 575px){


}

@media(max-width: 479px){


}

@media(max-width: 359px){

}