.piggyback-sec{
	padding: 35px 0 54px 0;
}
.piggyback-cntlr{

}
.left-icon-title{

	padding-left: 50px;
	position: relative;
}
.left-icon-title i{
	position: absolute;
	left: 3px;
	top: 50%;
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -5px;
}
.piggyback-title{
	
}
.piggyback-slider{
	margin: 0 -14px;
}
.piggyback-slide-item-cntlr{
	padding: 0 14px;
	width: 33.33%;
	margin-bottom: 28px;
}
.piggyback-item-bdr{
	border-left: 2px dashed #5b5b5b;
	border-right: 2px dashed #5b5b5b;
	border-top: 2px dashed #5b5b5b;
}
.piggyback-active-item .piggyback-item-bdr{
	border-color: #d61324;
}
.piggyback-slide-item:hover .piggyback-item-img{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.piggyback-item-img-cntlr{
	height: 256px;
	overflow: hidden;
	display: flex;
	justify-content: start;
	align-items: flex-end;
}
.piggyback-item-img{
	height: 100%;
	width: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.piggyback-item-desc{
	padding: 28px 0 25px 0;
}
.piggyback-item-desc p{
	text-align: center;
    font-family: 'SegoeUIRegular';

}
.piggyback-item-desc p:last-of-type{
	margin-bottom: 0;
}
.piggyback-item-hding{
	position: relative;
	background: #5b5b5b;
	padding: 11px 0;
}
.piggyback-item-hding > span{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	border-bottom: 2px dashed #de4d52;
}
.piggyback-item-hding:after{
	position: absolute;
	content: "";
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	bottom: -20px;
	border-top: 20px solid #5b5b5b;
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
}
.piggyback-item-title{
	margin-bottom: 0;
	text-align: center;
	line-height: 1;
	color: #fff;
}
.piggyback-active-item .piggyback-item-desc p{
    font-family: 'Chivo', sans-serif;	
    color: #141414;
}
.piggyback-active-item .piggyback-item-hding{
	background: #d61324;
	
}
.piggyback-active-item .piggyback-item-hding:after{
	border-top: 20px solid #d61324;
}


/*Vehicle-sec-wrap*/
.Vehicle-sec-wrap{
	position: relative;
}
.Vehicle-left-bg{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 62.5%;
	z-index: 1;
}
.Vehicle-left-bg:after{
	position: absolute;
	content: "";
	top: 35px;
	right: 0;
	border-right: 28px solid #fff;
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent;
}
.Vehicle-sec{
	position: relative;
	z-index: 3;
}
.Vehicle-cntlr{
	display: flex;
	flex-wrap: wrap;
}
.Vehicle-desc-cntlr{
	width: 64.78%;
	padding: 140px 25px 100px 25px;
}
.Vehicle-desc{
	max-width: 590px;
	width: 100%;
	color: #fff;
}
.Vehicle-desc-title{
	color: #fff;
	margin-bottom: 45px;
}
.Vehicle-desc > p{
	font-size: 18px;
}
.Vehicle-desc > p:last-of-type{
	margin-bottom: 60px;
}
.vcl-btn-cntlr{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -9px;
}
.vcl-btn{
	padding: 0 9px;
	margin-bottom: 20px;
}
.vcl-fst-btn .fl-red-btn{
	color: #fff;
	border-color: #fff;
}
.vcl-scnd-btn .fl-trnsprnt-btn{
	background: #fff;

}
.vcl-scnd-btn .fl-trnsprnt-btn:hover{
	background: transparent;
	color: #fff;
	border-color: #fff;
}
.vcl-right-wrap{
	width: 35.22%;
	padding-left: 42px;
	padding-top: 45px;
}
.Vehicle-title{
	margin-bottom: 50px;
}
.vcl-tabs{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -9px;
}
.vcl-tab-link{
	padding: 0 9px;
	width: 50%;
	margin-bottom: 18px;
	position: relative;
	height: 160px;
}
.vcl-tab-link button{
	background: transparent;
	border: 2px dashed #5a5a5a;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	cursor: pointer;
}
.current .tab-link{
	border-color: #d4141f;
}
.current .tab-link i svg{
	fill: #d4141f;
}
.vcl-tab-link span{
	position: absolute;
	width: 26px;
	height: 26px;
	background: #5b5b5b;
	top: 0;
	right: 9px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	z-index: 5;
}
.vcl-tab-link.current span{
	background: #d4141f;
}
.fl-tab-content{
	display: none;
}
.fl-tab-content.current{
	display: block;
}