.piggyback-sec{
	padding: 35px 0 54px 0;
}
.piggyback-cntlr{

}
.left-icon-title{

	padding-left: 50px;
	position: relative;
}
.left-icon-title > span > strong{
	font-weight: normal;

}
.left-icon-title i{
	position: absolute;
	left: 3px;
	top: 50%;
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -5px;
}
.piggyback-title{
	
}
.piggyback-slider{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -14px;
}
.piggyback-slide-item-cntlr{
	padding: 0 14px;
	width: 33.33%;
	margin-bottom: 28px;
}
.piggyback-item-bdr{
	border-left: 2px dashed #5b5b5b;
	border-right: 2px dashed #5b5b5b;
	border-top: 2px dashed #5b5b5b;
}
.piggyback-active-item .piggyback-item-bdr,
.piggybackSlider .slick-current.slick-active .piggyback-item-bdr{
	border-color: #d61324;
}
.piggyback-slide-item:hover .piggyback-item-img{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.piggyback-item-img-cntlr{
	height: 256px;
	overflow: hidden;
	display: flex;
	justify-content: start;
	align-items: flex-end;
}
.piggyback-item-img{
	height: 100%;
	width: 100%;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.piggyback-item-desc{
	padding: 28px 15px 25px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.piggyback-item-desc p{
	text-align: center;
    font-family: 'SegoeUIRegular';

}
.piggyback-item-desc p:last-of-type{
	margin-bottom: 0;
}
.piggyback-item-hding{
	position: relative;
	background: #5b5b5b;
	padding: 11px 0;
}
.piggyback-active-item .piggyback-item-hding > span,
.piggybackSlider .slick-current.slick-active .piggyback-item-hding > span{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	border-bottom: 2px dashed #de4d52;
	z-index: 10;
}
.piggyback-item-hding:after{
	position: absolute;
	content: "";
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	bottom: -19px;
	border-top: 20px solid #5b5b5b;
    border-left: 44px solid transparent;
    border-right: 44px solid transparent;
}
.piggyback-item-title{
	margin-bottom: 0;
	text-align: center;
	line-height: 1;
	color: #fff;
}
.piggyback-active-item .piggyback-item-desc p,
.piggybackSlider .slick-current.slick-active .piggyback-item-desc p{
    font-family: 'Chivo', sans-serif;	
    color: #141414;
}
.piggyback-active-item .piggyback-item-hding,
.piggybackSlider .slick-current.slick-active .piggyback-item-hding{
	background: #d61324;
	
}
.piggybackSlider.slick-dotted.slick-slider{
	margin-bottom: 0;
}
.piggyback-active-item .piggyback-item-hding:before,
.piggybackSlider .slick-current.slick-active .piggyback-item-hding:before{
	position: absolute;
	content: "";
	bottom: -35px;
	width: 80px;
	height: 8px;
	background: #85446e;
	border-radius: 100%;
	left: 50%;
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.piggyback-active-item .piggyback-item-hding:after,
.piggybackSlider .slick-current.slick-active .piggyback-item-hding:after{
	border-top: 20px solid #d61324;
}


/*Vehicle-sec-wrap*/
.Vehicle-sec-wrap > div{
	position: relative;
}
.Vehicle-sec-title{
	margin-bottom: 38px;
}
.Vehicle-left-bg{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 62.6%;
	z-index: 1;
}
.Vehicle-desc-cntlr:after{
	position: absolute;
	content: "";
	top: 35px;
	right: 0;
	border-right: 28px solid #fff;
	border-top: 28px solid transparent;
	border-bottom: 28px solid transparent;
}
.Vehicle-sec{
	position: relative;
	z-index: 3;
	min-height: 643px;
}
.Vehicle-cntlr{
	display: flex;
	flex-wrap: wrap;
}
.Vehicle-desc-cntlr{
	width: 65.79%;
	display: flex;
	align-items: center;
	padding: 25px 15px 25px 15px;
	position: relative;
}
.Vehicle-desc{
	max-width: 590px;
	width: 100%;
	color: #fff;
}
.Vehicle-desc-title{
	color: #fff;
	margin-bottom: 55px;
}
.Vehicle-desc-title br{
	display: none!important;
}
.Vehicle-desc > p{
	font-size: 18px;
}
.Vehicle-desc > p:last-of-type{
	margin-bottom: 65px;
}
.vcl-btn-cntlr{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -9px;
}
.vcl-btn{
	padding: 0 9px;
	margin-bottom: 20px;
}
.vcl-fst-btn .fl-red-btn{
	color: #fff;
	border-color: #fff;
	-webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    1px 2px 10px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         1px 2px 10px 0px rgba(0, 0, 0, 0.35);
}
.vcl-fst-btn .fl-red-btn:hover{
	background: #fff;
	color: #F2101C;
}
.vcl-scnd-btn .fl-trnsprnt-btn{
	background: #fff;
	-webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    1px 2px 10px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         1px 2px 10px 0px rgba(0, 0, 0, 0.35);

}
.vcl-scnd-btn .fl-trnsprnt-btn:hover{
	background: #F2101C;
	color: #fff;
	border-color: #fff;
}
.vcl-right-wrap{
	width: 34.21%;
	padding-left: 42px;
	padding-top: 45px;
}
.Vehicle-tab-title{
	margin-bottom: 50px;
}
.vcl-tabs{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -7px;
}
.vcl-tab-link{
	padding: 0 7px;
	width: 50%;
	margin-bottom: 12px;
	position: relative;
	height: 160px;
}
.vcl-tab-link:last-child,
.vcl-tab-link:nth-last-child(2){
	margin-bottom: 0;
}
.vcl-tab-link button{
	background: transparent;
	border: 2px dashed #5a5a5a;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	cursor: pointer;
}
.current .tab-link{
	border-color: #d4141f;
}
.current .tab-link i svg{
	fill: #d4141f;
}
.vcl-tab-link span{
	position: absolute;
	width: 26px;
	height: 26px;
	background: #5b5b5b;
	top: 0;
	right: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	z-index: 5;
}
.vcl-tab-link.current span{
	background: #d4141f;
}
.fl-tab-content,
.vcl-tab-content{
	display: none;
}
.fl-tab-content.current,
.vcl-tab-content.current{
	display: block;
}


/*responsive*/
@media(max-width: 1199px){

}
@media(max-width: 991px){
	.piggyback-slider{
		margin: 0 -8px;
	}
	.piggyback-slide-item-cntlr{
		padding: 0 8px;
	}
	.piggyback-item-desc p br{
		display: none!important;
	}
	.piggyback-item-img-cntlr{
		height: 210px;
	}
	.piggyback-item-img-cntlr img{
		max-height: 185px;
		width: auto;
	}
	.piggyback-item-desc{
		padding: 22px 15px 18px 15px;
	}
	.vcl-right-wrap{
	    padding-left: 15px;
	}
	.Vehicle-sec{
		min-height: initial;
	}
	.Vehicle-tab-title,
	.Vehicle-title{
		font-size: 30px!important;
		padding-left: 35px!important;
	}
	.Vehicle-tab-title i,
	.Vehicle-title i{
		left: 0;
		margin-top: -3px;
	}
	.Vehicle-tab-title i svg,
	.Vehicle-title i svg{
		max-width: 25px;
	}
	.Vehicle-title i{
		margin-top: 0;
	}
	
	.vcl-tabs{
		margin: 0 -4px;
	}
	.vcl-tab-link{
		height: 130px;
		padding: 0 4px;
		margin-bottom: 8px;
	}
}
@media(max-width: 767px){
	.piggyback-slider{
		display: block;
		align-items: initial;
		flex-wrap: initial;
		margin: 0;
	}
	.piggyback-slide-item-cntlr{
		padding: 0;
	}
	.piggyback-slider.piggybackSlider{
		max-width: 280px;
		width: 100%;
		margin: 0 auto;
	}
	.piggyback-slide-item-cntlr{
		margin-bottom: 63px;
	}
	.piggyback-item-img-cntlr{
		height: 195px;
	}
	.Vehicle-desc > p{
		font-size: 16px;
	}
	
	.piggyback-item-title{
		font-size: 22px!important;
	}
	.piggyback-item-hding{
		padding: 9px 0;
	}
	.Vehicle-sec-wrap{
		padding-top: 54px;
	}
	.Vehicle-desc-cntlr{
		position: relative;
		width: 100%;
		margin-bottom: 20px;
		padding: 57px 0 75px 0;
	}
	.Vehicle-desc-cntlr:after{
		bottom: -15px;
		right: initial;
		top: initial;
		left: 50%;
		margin-left: -23px;
		z-index: 7;
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.Vehicle-desc-title{
		line-height: 1.2;
		margin-bottom: 42px;
	}
	.Vehicle-desc > p:last-of-type{
		margin-bottom: 45px;
	}
	.xs-Vehicle-left-bg{
		position: absolute;
		top: 0;
		bottom: 0;
		left: -20px;
		right: -20px;
		z-index: 2;
	}
	.Vehicle-left-bg{
		background: transparent!important;
	}
	.Vehicle-desc{
		position: relative;
		z-index: 5;
	}
	.vcl-right-wrap{
		width: 100%;
		padding: 0;
		max-width: 400px;
		margin: 0 auto;
	}

	.left-icon-title > span > strong{
		display: none;

	}

}
@media(max-width: 639px){

}
@media(max-width: 575px){
	.left-icon-title i{
		margin-top: -2px;
		left: 0;
	}
	.left-icon-title i svg{
		max-width: 20px;
	}
	.left-icon-title{
		padding-left: 34px;
		line-height: 1.2!important;
	}
	.Vehicle-desc > p{
		font-size: 14px;
	}
	.Vehicle-desc-title{
		line-height: 1.7;
		margin-bottom: 35px;
	}
	.vcl-scnd-btn .fl-trnsprnt-btn span{
		display: none;
	}
	.vcl-btn-cntlr{
		margin-left: -10px;
	}
	.vcl-btn{
		padding: 0 10px;
		width: 50%;
	}
	.vcl-btn .fl-red-btn,
	.vcl-btn .fl-trnsprnt-btn{
		width: 100%!important;
	}
}
@media(max-width: 479px){
	.Vehicle-desc-title br{
		display: block!important;
	}
}
@media(max-width: 359px){
	.piggyback-sec{
		overflow: hidden;
	}
}	