.order-payment-sec-cntlr{
	background: #f9f9f9;
	position: relative;
}
.order-page-graphics{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.order-payment-sec-inr{
	display: flex;
	padding-top: 40px;
	padding-bottom: 95px;
	position: relative;
	z-index: 2;
}
.order-payment-con{
	order: 1;
	width: 58%;
}
.order-payment-sidebar{
	order:  2;
	width: 42%;
	margin-top: 107px;
	padding-left: 30px;
}

.order-step-title span{
	background: #f2101c;
	color: #fff;
	display: inline;
	padding: 3px 15px 3px 12px;
}

.box-white{
	background: #fff;
	padding: 40px 30px 30px 30px;
}

.ops-title{
	margin-bottom: 40px;
	line-height: 1.2;
}
.order-payment-sidebar-map #route_map{
	height: 396px;
}
.order-payment-sidebar-des{
	padding-top: 15px;
}
.opsd-row{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 2px solid #cecece;
}

.opsd-loc strong{
	font-size: 18px;
	font-weight: 700;
}

.opsd-loc-1 strong{
	color: #F2101C;
}
.opsd-loc-2 strong{
	color: #0074D3;
}
.opsd-line{
	display: flex;
	align-items: center;
}
.opsd-line strong{
	padding-left: 10px;
	color: #514c4e;
}
.opsd-row:last-child{
	border: none;
}

.opsd-subtotal strong{
	padding-top: 5px;
	font-size: 28px;
	line-height: 1.2;
	color: #141414;
	text-transform: capitalize;
	font-weight: normal;
	 font-family: 'GoboldLowplus';
	 display: block;
}




/*--- --*/
.order-payment-step-bar{
	margin-bottom: 30px;
}
.order-payment-step-bar-titles ul{
	display: flex;
}
.order-payment-step-bar-titles ul li{
	width: 25%;
	text-align: center;
	padding-bottom: 6px;
}
.order-payment-step-bar-titles ul li.active span{
	color: #F2101C;
}
.order-payment-step-bar-titles ul li span{
	    font-family: 'GoboldLowplus';
	    display: inline-block;
	    vertical-align: baseline;
	    font-size: 20px;
	    text-transform: capitalize;
	    color: #141414;
}

.order-payment-step-bar-radio-cntlr{
	position: relative;
}
.line-eraser{
	height: 2px;
    background: #f9f9f9;
    position: absolute;
    	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	z-index: 2;
}
.line-eraser-lft{
	left: 0;
}
.line-eraser-rgt{
	right: 0;
}
.order-payment-step-bar-radio-cntlr ul{
	display: flex;
	position: relative;
}
.order-payment-step-bar-radio-cntlr ul:after {
	content: "";
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	height: 1px;
	background: #CCCCCC;
	position: absolute;
}

.order-payment-step-bar-radio-cntlr ul li{
	width: 25%;
	text-align: center;
}

.order-payment-step-bar-radio-cntlr ul li span{
	width: 52px;
	height: 40px;
	background: #f9f9f9;
	display: inline-block;
	vertical-align: baseline;
	position: relative;
	z-index: 2;
}
.order-payment-step-bar-radio-cntlr ul li span i{
	width: 40px;
	height: 40px;
	background: #fff;
	border: 2px solid #7F7F7F;
	border-radius: 100% 100%;
	display: inline-block;
	vertical-align: baseline;
	position: relative;
}
.order-payment-step-bar-radio-cntlr ul li span i:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background: url('../images/order-payment-check-active.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 20px;
	height: 15px;
	z-index: 3;
	opacity: 0;
}
.order-payment-step-bar-radio-cntlr ul li.active span i:after{
	opacity: 1;
}

.order-payment-step-bar-radio-cntlr ul li.active span i{
	background: #F2101C;
    border: 1px solid #E21327;
}

.box-white-lft{
	background: #fff;
	padding: 40px 40px 35px;
}

.fl-h2.order-step-title {
    margin-bottom: 44px;
    line-height: 1.2;
}
.ops-form-field-row{
	position: relative;
	margin-bottom: 30px;
}
.ops-form-field-row input[type="text"],
.ops-form-field-row input[type="email"],
.ops-form-field-row .bootstrap-select button,
.ops-form-field-row textarea{
	border: 1px solid #AAAAAA;
	height: 40px!important;
	width: 100%!important;
	color: #141414!important;
	border-radius: 0!important;
	font-size: 16px!important;
	padding-left: 15px!important;
	padding-right: 15px!important;
	position: relative;
}
.ops-form-field-row textarea{
	min-height: 150px;
	resize: none;
}
.ops-form-field-row .bootstrap-select button{
	text-transform: capitalize!important;
}
.ops-form-field-row{
	position: relative;
}
.ops-form-field-row.starting-field span,
.ops-form-field-row.ending-field span{
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	width: 40px;
	height: 40px;
	color: #fff;
	font-family: 'GoboldExtra2';
	font-size: 22px;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ops-form-field-row.starting-field span{
	background: #E53930;
}
.ops-form-field-row.ending-field span{
	background: #4089FF;
}
.ops-form-field-row.starting-field input,
.ops-form-field-row.ending-field input{
	padding-right: 70px!important;
}
.ops-form-field-row ,
.label-text {
    position: absolute;
    left: 10px;
    top: -6px;
    padding-left: 8px;
    padding-right: 8px;
    color: #E53930;
    font-size: 12px;
    line-height: 1;
    background: #fff;
    display: inline-block;
    vertical-align: baseline;
    font-weight: 400;
    z-index: 2;
    margin: 0;
}

.fl-h2.order-step-details-title{
	padding-top: 25px;
	margin-bottom: 45px;
}
.ops-form-field-cols{
	margin-left: -15px;
	margin-right: -15px;
	display: flex;
}
.ops-form-field-col{
	width: 50%;
	padding-left: 15px;
	padding-right: 15px;
}
.ops-form-field-cols .ops-form-field-col > div{
	position: relative;
}
.ops-form-field-cols .ops-form-field-col > div label.ops-label-2,
.ops-form-field-row.ops-gray-label label.ops-label-2{
	color: #514C4E;
	font-size: 10px;
	font-weight: 300;
	top: auto;
	bottom: -17px;
}
.osp-btns{
	display: flex;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
}
.osp-btn-nxt{
	margin-left: auto;
}
.osp-btn-nxt button{
	height: 50px;
	background: #F2101C;
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
	font-family: 'GoboldExtra2';
	line-height: 1;
	min-width: 135px;
	text-align: center;
	position: relative;
	cursor: pointer;
	border: 0;
	
}
.osp-btn-nxt button:hover{
	background: #c10913 ;
}
.osp-btn-nxt button:hover:after{
	border-left-color: #c10913;
}
.osp-btn-nxt button span{
	padding-left: 10px;
	text-shadow: 1.27px 1px 1.27px rgb(212 0 53 / 65%);
}
.osp-btn-nxt button:after{
	content: "";
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 21px solid #F2101C;
	position: absolute;
	top: 0;
	bottom:0;
	left: 100%;
	margin-left: -1px;
		transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}



.osp-btn-back button{
	height: 50px;
	background: #4089FF;
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
	font-family: 'GoboldExtra2';
	line-height: 1;
	min-width: 135px;
	text-align: center;
	position: relative;
	cursor: pointer;
	border: 0;
	
}

.osp-btn-back button span{
	padding-right: 10px;
	text-shadow: 1.27px 1px 1.27px rgb(212 0 53 / 65%);
}
.osp-btn-back button:after{
	content: "";
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-right: 21px solid #4089FF;
	position: absolute;
	top: 0;
	bottom:0;
	right: 100%;
	margin-right: -1px;
		transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.osp-btn-back button:hover{
	background: #3578e4 ;
}
.osp-btn-back button:hover:after{
	border-right-color: #3578e4;
}
.ops-form-field-row-des{
	padding-bottom: 15px;
}
.ops-form-field-row-des p{
	font-weight: 300;
	color: #514C4E;
}
.ops-form-field-row-des p strong{
	color: #514C4E;
	font-weight: 400;
}

.ops-form-field-radio{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	height: 55px!important;
	position: relative;
}
/*
.ops-form-field-radio{
	
	height: 40px!important;
	width: 100%!important;
	color: #141414!important;
	border-radius: 0!important;
	font-size: 16px!important;
	padding-left: 15px!important;
	padding-right: 15px!important;
	
}*/

.ops-form-field-radio input[type="radio"]{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 5;
}
.ops-form-field-radio label{
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	padding-left: 55px;
	border: 1px solid #AAAAAA;
	padding-right: 15px;
}
.ops-form-field-radio label p{
	margin: 0;
}
.ops-form-field-radio label p strong{
	font-weight: 700;
	color: #141414;
}
.ops-form-field-radio label span{
	margin-left: auto;
	display: inline-block;
	color: #7F7F7F;
	font-weight: 700;
}
.ops-radio-bx{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	left: 13px;
	width: 30px;
	height: 30px;
	border: 1px solid #AAAAAA;
	border-radius: 100%;
}
.ops-radio-bx:after{
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: #E53930;
	border-radius: 100% 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	opacity: 0;
}

.order-payment-step-3 .osp-btns{
	padding-top: 30px;
}
.ops-form-field-radio input:checked ~ .ops-radio-bx{
	background: #fff;
}
.ops-form-field-radio input:checked ~ .ops-radio-bx:after {
    opacity: 1;
}
.ops-form-field-radio input:checked ~ label p strong,
.ops-form-field-radio input:checked ~ label span,
.ops-form-field-radio input:checked ~ label p{
	color: #fff;
}
.ops-form-field-radio input:checked + + .ops-radio-bx{
	border-color: #A02525;
}
.ops-form-field-radio input:checked + .label-text{
	background: #fff;
}
.ops-form-field-radio input:checked ~ label{
	background: #F2101C;
	border-color: #A02525;
}

@media(max-width: 1699px){
	.fl-h2.ops-title,
	.fl-h2.order-step-title,
	.fl-h2.order-step-title{
		font-size: 40px!important;
	}
}
@media(max-width: 1499px){

}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){

}

@media(max-width: 991px){

}

@media(max-width: 575px){


}

@media(max-width: 479px){


}

@media(max-width: 359px){

}