.slick-slider ul.slick-dots{
	position: static;
	height: 16px;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 16px!important;
	height: 16px!important;
	position: static;
	background: #E1E1E1!important;
	border-radius: 100% 100%!important;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}

/*
---------------
 Page Banner
---------------
*/
.page-banner-sec-wrp{
	background:url(../images/page-banner-sec-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}
.page-banner-dsc{
	float: left;
}
.bnr-breadcum {
    float: right;
    padding-top: 12px;
}
.page-banner-dsc .fl-h1{
	color: #fff;
	margin-bottom: 0;
}

.bnr-breadcum ul li{
	float: left;
	font-size: 16px;
	line-height: 1;
	padding: 0 6px;
	position: relative;
}
.bnr-breadcum ul li:after{
    content: ">";
    position: absolute;
    right: -3px;
    top: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 1;
}
.bnr-breadcum ul li:last-child{
	padding-right: 0;
}
.bnr-breadcum ul li:last-child:after{
	content: none;
}
.bnr-breadcum ul li a{
	color: #fff;
	font-family: 'GoboldRegular';
}