.slick-slider ul.slick-dots{
	position: static;
	height: 20px;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 20px!important;
	height: 20px!important;
	position: static;
	background: transparent!important;
	border-radius: 100% 100%!important;
	border: 2px solid #141414!important;
	margin: 0 5px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #D61225!important;
	border-color: #D61225!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 20px;
	height: 20px;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}

/*
---------------
 Page Banner
---------------
*/

.page-banner-sec-wrp{
	background:url(../images/page-banner-sec-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 30px 0;
}
.page-banner-wrp{
	display: flex;
	align-items: center;
}
.page-banner-dsc{
	float: left;
}
.breadcumbs {
    float: right;
    margin-left: auto;
    padding-top: 0;
}
.page-banner-dsc .fl-h1{
	color: #fff;
	margin-bottom: 0;
	margin-right: 20px;
}

.breadcumbs ul li{
	float: left;
	font-size: 16px;
	line-height: 1;
	padding: 0 6px;
	position: relative;
}
.breadcumbs ul li:after{
    content: ">";
    position: absolute;
    right: -3px;
    top: 3px;
    color: #fff;
    font-size: 10px;
    line-height: 1;
}
.breadcumbs ul li:last-child{
	padding-right: 0;
}
.breadcumbs ul li:last-child:after{
	content: none;
}
.breadcumbs ul li a,
.breadcumbs ul li span{
	color: #fff;
	font-family: 'GoboldRegular';
	text-transform: uppercase;
}
.breadcumbs ul li span{
	display: inline-block;
	vertical-align: baseline;
}
.breadcumbs ul li a:hover span,
.breadcumbs ul li a:hover{
	color: #fccacb!important;
}