.services-item-cntrl{
	display: flex;
	align-items: center;
}
/* .services-item-cntrl:nth-child(2) .sic-cntrl:nth-child(1){
	order: 2;
}
.services-item-cntrl:nth-child(2) .sic-cntrl:nth-child(2){
	order: 1;
} */
.serv-fea-img{
	width: 50%;
	position: relative;
}
.serv-fea-img:after{
	position: absolute;
	content: "";
}
.serv-fea-img img{
	width: 100%;
}
.sic-cntrl{
	width: 37%;
}
.sic{
	padding-left: 33px;
}
.sic .sic-title{
	line-height: 1.3;
	text-transform: uppercase;
	font-family: 'GoboldExtra2';
	margin-bottom: 40px;
	color: #F2101C;	
}
.sic p{
	line-height: 2.1;
	margin-bottom: 35px;
}