.services-item-cntrl{
	display: flex;
	padding-top: 65px;
}
.serv-fea-img{
	display: flex;
	width: 50%;
	align-items: center;
}
.s-f-img-cntrl {
    position: relative;
    margin-left: auto;
    width: 100%;
}
.s-f-img-cntrl img{
	width: 100%;
}
.emrs{
	position: absolute;
	top: 0;
	right: 0;
	height: 150px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
    border: 3px dashed #0178d4;
}
.sic{
	width: 50%;
	display: flex;
	align-items: center;
	padding-left: 51px;
}
.sic-des{
	max-width: 522px;
	width: 100%;
}
.sic-des .sic-title{
	line-height: 1.3;
	text-transform: uppercase;
	font-family: 'GoboldExtra2';
	margin-bottom: 40px;
	color: #F2101C;	
}
.sic-des p{
	line-height: 2.2;
	margin-bottom: 35px;
}
.services-item-cntrl:nth-child(2n+2) .serv-fea-img{
	order: 2;
	height: 100%;
}
.services-item-cntrl:nth-child(2n+2) .serv-fea-img .s-f-img-cntrl{
	margin-right: auto;
	margin-left: initial;
	margin-left: 29px;
}
.services-item-cntrl:nth-child(2n+2) .serv-fea-img .s-f-img-cntrl .emrs{
	left: 0;
}
.services-item-cntrl:nth-child(2n+2) .sic{
	order: 1;
	padding-left: 0;
	padding-right: 50px;
}
.services-item-cntrl:nth-child(2n+2) .sic .sic-des{
	margin-left: auto;
}

/* =========== */
/* responsive */
/* ========= */
@media(max-width: 1499px){

}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){
	.sic-des .sic-title{
		margin-bottom: 30px;
	}
	.sic-des p{
		line-height: 1.8;
		margin-bottom: 30px;
	}
	.emrs{
		width: 135px;
		height: 135px;
	}
}

@media(max-width: 1199px){
	svg.Icon-1, svg.Icon-2, svg.Icon-3, svg.Icon-4{
		width: 80px;
    	height: 57px;
	}
	.emrs {
    	width: 128px;
    	height: 128px;
	}
	.sic{
		padding-left: 38px;
	}
	.services-item-cntrl:nth-child(2n+2) .sic{
		padding-right: 38px;
	}
	.sic-des{
		max-width: 495px;
	}
	.sic-des .sic-title{
		margin-bottom: 25px;
		line-height: 1.2;
	}
	.sic-des p{
		line-height: 1.6;
		margin-bottom: 25px;
	}
}

@media(max-width: 1099px){
	.sic-des{
		max-width: 440px;
	}
	.sic-des .sic-title{
		margin-bottom: 20px;
	}
	.sic-des p{
		line-height: 1.4;
		margin-bottom: 20px;
	}	
	
}

@media(max-width: 991px){

	
}

@media(max-width: 767px){

}

@media(max-width: 575px){


}

@media(max-width: 479px){


}

@media(max-width: 359px){

}