.services-page{
	display: flex;
	flex-direction: column;
}
.service-items-cntrl{
	position: relative;
	min-height: 603px;
	margin-top: 65px;
	display: flex;
	align-items: center;
}
.srv-fea-img{
	width: 49%;
    position: absolute;
    top: 0;
    bottom: 0;
}
.srv-fea-img img{
	width: 100%;
}
.siccc-cntrl{
	display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.sicc {
	padding-left: 33px;
}
.sicc-title{
	line-height: 1.3;
	text-transform: uppercase;
	font-family: 'GoboldExtra2';
	margin-bottom: 45px;
	color: #F2101C;	
}
.sicc p{
	line-height: 2.2;
	margin-bottom: 36px;
}
.services-page .service-items-cntrl:nth-child(2n+2) .srv-fea-img {
	right: 0;
}
.services-page .service-items-cntrl:nth-child(2n+2) .srv-fea-img .emrs{
	left: 0;
}
.services-page .service-items-cntrl:nth-child(2n+2) .siccc-cntrl .container .row > div:nth-child(1){
	order: 2;
}
.services-page .service-items-cntrl:nth-child(2n+2) .siccc-cntrl .container .row > div:nth-child(2){
	order: 1;
	padding-right: 33px;
}
.services-page .service-items-cntrl:nth-child(2n+2) .siccc-cntrl .container .row > div:nth-child(2) .sicc{
	padding-left: 0;
}
